#root {
  max-width: 944px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 34px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
